<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="keywords" content="футболки, футболки для программистов, футболки для желающих приобрести дудки">
		<title>7h3 5h0p | Футболка Alien Technology</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body id="doc">
		<header class="header">
			<div class="header-top">
				<div class="the-shop-logo">
					<a href="#"><img src="img/the_shop_logo.svg" alt="The Shop" class="the-shop-logo__img"></a>
				</div>

				<div class="oggetto-logo">
					<a href="http://oggettoweb.com/"><img src="img/oggetto_logo.svg" alt="Oggetto" class="oggetto-logo__img"></a>
				</div>

				<div class="phone-number">
					<p class="phone-number__text">+7 (812) 2&#8226;12&#8226;85&#8226;06</p>
				</div>
			</div>

			<div class="header-bottom">
				<% const navigation = [
					{ title: 'LISP', isActive: true, link: '#' },
					{ title: 'OCaml', isActive: false, link: '#' },
					{ title: 'JavaScript', isActive: false, link: '#' },
					{ title: 'Python', isActive: false, link: '#' },
					{ title: 'PHP', isActive: false, link: '#' }
				]; %>
				<nav class="navigation">
					<ul class="navigation__list">
						<% navigation.forEach(function (item) { %>
						<li class="navigation__item">
							<a href="<%= item.link %>" class="navigation__link <%= item.isActive ? 'navigation__link_active' : ''; %>"><%= item.title %></a>
						</li>
						<% }); %>
					</ul>
				</nav>

				<form method="get" action="path" id="search" class="search js-search">
					<input type="search" class="search__input js-search__input">
					<input type="submit" value="" class="search__submit js-search__submit">
				</form>
			</div>
		</header>

		<section class="main">
			<div class="breadcrumbs-container">
				<nav class="breadcrumbs">
					<% const breadcrumbs = [
						{ title: 'LISP', isActive: false, link: '#' },
						{ title: 'Одежда', isActive: false, link: '#' },
						{ title: 'Футболки', isActive: true, link: '#' }
					]; %>
					<ul class="breadcrumbs__list">
						<% breadcrumbs.forEach(function (item) { %>
						<li class="breadcrumbs__item">
							<a href="<%= item.link %>" class="breadcrumbs__link <%= item.isActive ? 'breadcrumbs__link_active' : ''; %>"><%= item.title %></a></li>
							<% if(item.isActive === false) { %> 
							<li class="breadcrumbs__separator">/</li>
							<% } %>
						<% }); %>
					</ul>
				</nav>
			</div>

			<div class="product">
				<div class="product-frame">
					<img src="img/tshirts/tshirt_white.jpg" alt="Футболка Alien Technology" id="productPicture" class="product-frame__img">
				</div>
				
				<div class="product-details">
					<div class="product-details__main">
						<h1 class="product-details__name">Футболка Alien Technology</h1>
						<p class="product-details__composition">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.</p>
					</div>

					<form method="post" action="path" id="order" class="product-form js-product-form">
						<div class="product-details__price">
							<span id="priceValue" data-type="price" data-value="1500" class="product-details__currency js-product-details__currency">1500 &#8381;</span>
						</div>

						<div class="product-details-i">
							<div class="product-details__size">
								<p class="product-details__title">Размер:</p>
								<div class="product-size">
									<% const productSize = [
										{ title: 's', addClass: 'product-details_inactive' },
										{ title: 'm', addClass: 'product-details_inactive' },
										{ title: 'l', addClass: 'product-details_inactive' }
									]; %>
									<ul id="sizeList" class="product-size__list">
										<% productSize.forEach(function (item) { %>
										<li data-type="size" data-value="<%= item.title %>" class="product-size__item js-product-size__item product-size__item_<%= item.title %> <%= item.addClass %> js-product-details"><%= item.title.charAt(0).toUpperCase() %></li>
										<% }); %>
									</ul>
								</div>
							</div>
							<div class="product-details__color">
								<p class="product-details__title">Цвет:</p>
								<div class="product-color">
									<% const productColor = [
										{ title: 'white', addClass: 'product-details_inactive' },
										{ title: 'yellow', addClass: 'product-details_inactive' },
										{ title: 'green', addClass: 'product-details_inactive' },
									]; %>
									<ul id="colorList" class="product-color__list">
										<% productColor.forEach(function (item) { %>
										<li data-type="color" data-value="<%= item.title %>" class="product-color__item js-product-color__item product-color__item_<%= item.title %> <%= item.addClass %> js-product-details"></li>
										<% }); %>
									</ul>
								</div>
							</div>
						</div>

						<div class="product-details__buy-container">
							<button type="submit" class="product-details__buy">Купить</button>
						</div>
					</form>

					<div class="product-details__wishlist-container">
						<p class="product-details__wishlist"><img src="img/icons/heart_grey.svg" class="product-details__wishlist-img" alt="">
							<a href="#" class="product-details__wishlist-send">Отложить на потом</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="footer-top">
				<div class="footer-links">
					<div class="footer-links__column">
						<h4 class="footer-links__title">Сервис и поддержка</h4>
						<% const footerLinks1 = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка'] %>
						<ul class="footer-links__subcolumn">
							<% footerLinks1.forEach(function(item) { %>
							<li class="footer-links__item">
								<a href="#" class="footer-links__reference"><%= item %></a>
							</li>
							<% }); %>
						</ul>

						<% const footerLinks2 = ['Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы'] %>
						<ul class="footer-links__subcolumn">
							<% footerLinks2.forEach(function(item) { %>
							<li class="footer-links__item">
								<a href="#" class="footer-links__reference"><%= item %></a>
							</li>
							<% }); %>
						</ul>
					</div>
					
					<div class="footer-links__column">
						<h4 class="footer-links__title">О компании</h4>
						<% const footerLinks3 = ['О нас', 'Контакты', 'Вакансии', 'Партнерам'] %>
						<ul class="footer-links__subcolumn">
							<% footerLinks3.forEach(function(item) { %>
							<li class="footer-links__item">
								<a href="#" class="footer-links__reference"><%= item %></a>
							</li>
							<% }); %>
						</ul>

						<% const footerLinks4 = ['Сертификаты', 'Преимущества', 'Наши скидки'] %>
						<ul class="footer-links__subcolumn">
							<% footerLinks4.forEach(function(item) { %>
							<li class="footer-links__item">
								<a href="#" class="footer-links__reference"><%= item %></a>
							</li>
							<% }); %>
						</ul>
					</div>
				</div>

				<div class="footer-else">
					<% const footerAdvantages = {
						delivery: "бесплатная доставка от 4000 ₽",
						samples: "пробники в подарок при каждой покупке",
						bonus: "акции и подарки за покупку"
					}; %>
					<div class="footer-advantages">
						<% for (let item in footerAdvantages) { %>
						<p class="footer-advantages__<%= item %>">
							<img src="img/icons/<%= item %>.svg" class="footer-advantages__<%= item %>-img" alt="">
							<span class="footer-advantages__text"><%= footerAdvantages[item] %></span>
						</p>
						<% } %>
					</div>

					<% const footerSocial = ['facebook', 'twitter', 'instagram'] %>
					<div class="footer-social">
						<% footerSocial.forEach(function(item) { %>
						<a href="#"><img src="img/icons/<%= item %>.svg" class="footer-social__<%= item %>" alt="<%= item %>"></a>
						<% }); %>
					</div>		
				</div>
			</div>

			<div class="footer-bottom">
				<div class="copyright">
					<p class="copyright__text">2005-2017 &#169; 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.</p>
					<p class="copyright__text">Все права защищены. Доставка по всей России!</p>
				</div>
			</div>
		</footer>

		<script src="js/scripts.js"></script>
	</body>
</html>
